*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  background-image: url('background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Poppins', sans-serif;
  color: white;
}

header, nav{
  text-align: center;
}

nav{
  background-color: #00dd00;
  padding: 10px;
}

.container{
  width: 60vw;
  margin: 20px auto auto;
  padding: 80px 60px;
  border-radius: 15px;
  background-color: rgba(0, 0, 0, 0.5);
}


/* font */
h1, h2{
  font-weight: 500;
}

h1{
  font-size: 30px;
  color: #00dd00;
}

h2{
  font-size: 20px;
}

.monopattino-info > span{
  font-size: 14px;
  font-weight: 100;
}



header > .logo{
  width: 200px;
}

.monopattino{
  margin: 15px 0;
}

.monopattino-name{
  display: inline-block;
}

.arrow:after{
  content: "\21A6";
}

/* Monopattino_Stato carica */
.rettangolo{
  border-radius: 5px;
}

.rettangolo.stato-medio{
  height: 25px;
  width: 40%;
  background-color: orange;
}

.rettangolo.stato-alto{
  height: 25px;
  width: 70%;
  background-color: #00dd00;
}

.rettangolo.stato-basso{
  height: 25px;
  width: 15%;
  background-color: red;
}
